
<div class="adminDronePage">
    <div>
        <form role="form" ng-submit="processForm()">
            <section>
                <div class="row">
                    <div class="page-header" id="features">
                        <h2>Criar novo Parque</h2>
                    </div>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" ng-model="formData.name" required />
                    </div>
                    <div class="form-group">
                        <label for="Tipo">Tipo</label>
                        <select ng-model="formData.type" class="form-control" id="type">
                            <option value="Publico">Publico</option>
                            <option value="Pago">Pago</option>
                            <option value="Privado">Privado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="lugares">Nº Lugares</label>
                        <input type="text" class="form-control" id="lugares" ng-model="formData.nlots" required />
                    </div>
                    <div class="form-group">
                        <label for="imagem">Imagem planta</label>
                        <input type="text" class="form-control" id="imagem" ng-model="formData.parkImg" required/>
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude</label>
                        <input type="text" class="form-control" id="latitude" ng-model="formData.centraLatitude" required/>
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" id="longitude" ng-model="formData.centraLongitude" required/>
                    </div>
                    <input type="hidden" class="form-control" id="active" ng-model="formData.active" />
                    <input type="submit" class="btn btn-info btn-lg" value="Gravar" />
                </div>
               {{formData}}
                <div ng-bind-html="status"></div>
            </section>

            </form>
</div>

</div>

