

    <div class="container">

        <!-- Introdução -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quem somos
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>We are a team of students from University of Aveiro working in the final project of our degree.</p>
                <p>The work is about monitoring parks using drones. This solution was implemented for the University of Aveiro, but built thinking of the possible interchangeability with other places and even systems.</p>
                <p>The system works with the help of a drone and all the necessary technologies to find free parking lots and to do statistical analysis. The information is then compiled and displayed to users using this friendly interface.</p>
            </div>
        </div>

        <!-- Team Members -->
        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>

            <div class="border col-lg-3 text-center">
                <img class="img-circle img-responsive img-center" src="images/cajus.jpg" alt="">
                <h3>André Carvalho</h3>
            </div>
            <div class="border col-lg-3 text-center">
                <img class="img-circle img-responsive img-center" src="images/cardoso.jpg" alt="">
                <h3>André Cardoso</h3>
            </div>
            <div class="border col-lg-3 text-center">
                <img class="img-circle img-responsive img-center" src="images/coelho.jpg" alt="">
                <h3>Tiago Coelho</h3>
            </div>
            <div class="border col-lg-3 text-center">
                <img class="img-circle img-responsive img-center" src="images/josimar.jpg" alt="">
                <h3>Josimar Cassanda</h3>
            </div>
        </div>
    </div>
